@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

:root {
    --laranja-claro: rgb(239, 41, 138);
    --alto-contraste-fundo: #ffffff;
    --alto-contraste-texto: #000000;
    --alto-contraste-link: #001aff;
    --rosa: rgb(239, 41, 138);
    --azul: rgb(28, 65, 154);
 }

body {
    font-size: 1rem;
    font-family: 'Montserrat';
    background-color: #000000;
}

header {
    background-color: #000000;
}
footer{
    color: var(--alto-contraste-fundo);
}

section {
    padding-bottom: 5rem;
    background-color: #000000;
}



.nav-link {
    color: var(--rosa);
    font-weight: 700;
}
.nav-img {
    width: 15%;
}

.inicio-fundo {
    /* aula 3 */
   
    /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: right;
    border-radius: 80px;
    width: 100%;
    height: 606px;
    padding: 40px;
    margin: 0 auto;
}

/* posicionamento para a imagem à direita */
.img-inicio {
    position: absolute;
    right: 0;
    top: 18rem;
    width: 25rem;
    height: auto;
    margin-right: 12%;
}
.inicio-fundo{
    background-color: #000000;
}


.esquerda-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    
    
}


.botao-inicio {
    background-color: var(--azul);
    border-radius: 30px;
    border: none;
    width: 14em;
    height: 3em;
    align-content: center;

}

.display-4 {
    text-shadow: 5px;
    color: var(--laranja-claro);
}
.text222{
    color: white;
}

#tropicalia {
    position: center;
    padding-top: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;

    background-size: 180px 180px;
    /* Ajuste o tamanho conforme necessário */
}

#tropicalia .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   
    z-index: 1;
    /* Garante que o conteúdo fica acima das imagens do background */
}

.texto123{
    text-align: center;
    align-items: center;
}

h2 {
    font-family: 'Lemon', serif;
    font-size: 2.5em;
    font-style: normal;
    color: var(--laranja-claro);
}

#galeria {
    background-color: #000000;

}

.fundo-galeria {
   
    background-size: 180px 180px;
}
.spotify{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
#contato {
    background-color: #000000;
    background-size: cover;
    padding: 4rem 0;
    /* Espaçamento interno para a seção de contato */

}


.formulario {
    background-color: #ffffff;
    padding: 2rem;
    /* Espaçamento interno dentro do formulário */
    border-radius: 10px;
    /* Borda arredondada para o formulário */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra suave para destacar o formulário */
    font-weight: bold;
}

.formulario button {
    background-color: #5b2dc7;
    border: none;
    font-weight: bold;
}

.form-control {
    background-color: #F1EDEF;
}
.menu-acessibilidade{
    position: fixed;
    top:2rem;
    right:20px;
    z-index: 1000;
}
.rotacao-botao{
    transform: rotate(-90deg);
    transform-origin: right center;
}

.opcoes-acessibilidade{
    margin-top:10px;
    display: flex;
    flex-direction: column;
}

.opcoes-acessibilidade button{
    margin-bottom: 5px;
}
.apresenta-lista{
    display: none;
}
.alto-contraste{
    background-color: var(--alto-contraste-fundo);
    color: var(--alto-contraste-texto);
}
.alto-contraste header,
.alto-contraste .formulario{
    background-color: var(--alto-contraste-fundo);
    color: var(--alto-contraste-texto);
}
.alto-contraste #inicio{
    background: none;
}
.alto-contraste .inicio-fundo{
    background-color: var(--alto-contraste-fundo);
    color: var(--alto-contraste-texto);
}
.alto-contraste #tropicalia{
    background: none;
}
.alto-contraste .container{
    background-color: var(--alto-contraste-fundo);
   
}
.alto-contraste .text222{
    color: var(--alto-contraste-texto);
}
.alto-contraste .nav-link{
    color: var(--alto-contraste-link);
}
.alto-contraste #contato{
    background: none;
}
.alto-contraste .botao-inicio,
.alto-contraste .formulario button,
.alto-contraste .btn-primary{
    background-color: var(--alto-contraste-link);
    color: var(--alto-contraste-fundo)
}
.alto-contraste #galeria {
    background-color: var(--alto-contraste-fundo);
    
}
.alto-contraste .fundo-galeria {
    background: none;
}

.alto-contraste .text-center{
    color: var(--alto-contraste-link);
}
.alto-contraste .titulo22{
    color: var(--alto-contraste-link);
}
.alto-contraste .titulo33{
    color: var(--alto-contraste-link);
}
.alto-contraste footer{
  
    color: var(--alto-contraste-texto);
}
.alto-contraste .nav-img{
    filter: invert(100%);
}

@media screen and (max-width: 1024px) {
.nav-link{
    opacity: 0;;
} 
.nav-img{
    width: 30%;
}
.img-inicio{
width: 50%;
position: absolute;
z-index: 1;
}
.botao-inicio {
    width: 70%;
    position: absolute;
   z-index: 2;
    font-size: 17px;
}

.text-center{
    width: 90vw;
  height: 90vh;
}

}